-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: deis_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_years`
--

DROP TABLE IF EXISTS `academic_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_years` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(30) NOT NULL,
  `semester` enum('Ganjil','Genap') NOT NULL,
  `is_active` tinyint(1) DEFAULT 0,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_years`
--

LOCK TABLES `academic_years` WRITE;
/*!40000 ALTER TABLE `academic_years` DISABLE KEYS */;
INSERT INTO `academic_years` VALUES (1,'2025/2026','Genap',1,'2026-02-01','2026-07-31','2026-08-24 14:58:40'),(2,'2025/2026','Ganjil',0,'2025-08-01','2026-01-31','2026-08-24 14:58:40'),(3,'2024/2025','Genap',0,'2025-02-01','2025-07-31','2026-08-24 14:58:40');
/*!40000 ALTER TABLE `academic_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accreditations`
--

DROP TABLE IF EXISTS `accreditations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accreditations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `study_program_id` int(11) NOT NULL,
  `institution` varchar(50) DEFAULT 'BAN-PT',
  `current_grade` varchar(30) NOT NULL,
  `target_grade` varchar(30) NOT NULL,
  `valid_until` date NOT NULL,
  `days_remaining` int(11) DEFAULT 0,
  `led_progress` decimal(5,2) DEFAULT 0.00,
  `lkps_progress` decimal(5,2) DEFAULT 0.00,
  `overall_progress` decimal(5,2) DEFAULT 0.00,
  `status` enum('Aman','Perhatian','Kritis','Expired') DEFAULT 'Aman',
  `gap_notes` text DEFAULT NULL,
  `action_plan` text DEFAULT NULL,
  `pic` varchar(150) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `study_program_id` (`study_program_id`),
  CONSTRAINT `accreditations_ibfk_1` FOREIGN KEY (`study_program_id`) REFERENCES `study_programs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accreditations`
--

LOCK TABLES `accreditations` WRITE;
/*!40000 ALTER TABLE `accreditations` DISABLE KEYS */;
/*!40000 ALTER TABLE `accreditations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `action_items`
--

DROP TABLE IF EXISTS `action_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `action_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_id` int(11) NOT NULL,
  `item_code` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `pic_user_id` int(11) DEFAULT NULL,
  `pic_name` varchar(150) NOT NULL,
  `study_program_id` int(11) DEFAULT NULL,
  `priority` enum('Tinggi','Sedang','Rendah') DEFAULT 'Sedang',
  `deadline` date NOT NULL,
  `status` enum('Belum Mulai','Proses','Diserahkan','Diverifikasi','Selesai','Terlambat','Dibatalkan') DEFAULT 'Belum Mulai',
  `progress_percentage` decimal(5,2) DEFAULT 0.00,
  `evidence_file` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `verified_by` varchar(100) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `meeting_id` (`meeting_id`),
  CONSTRAINT `action_items_ibfk_1` FOREIGN KEY (`meeting_id`) REFERENCES `meetings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `action_items`
--

LOCK TABLES `action_items` WRITE;
/*!40000 ALTER TABLE `action_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `action_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ami_audits`
--

DROP TABLE IF EXISTS `ami_audits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ami_audits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `study_program_id` int(11) NOT NULL,
  `period_year` int(11) NOT NULL,
  `audit_date` date NOT NULL,
  `lead_auditor` varchar(150) NOT NULL,
  `auditor_members` varchar(255) DEFAULT NULL,
  `kts_major_count` int(11) DEFAULT 0,
  `kts_minor_count` int(11) DEFAULT 0,
  `ob_count` int(11) DEFAULT 0,
  `status` enum('Terjadwal','Berlangsung','Selesai','RTL Terbuka','RTL Selesai') DEFAULT 'Terjadwal',
  `summary` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `study_program_id` (`study_program_id`),
  CONSTRAINT `ami_audits_ibfk_1` FOREIGN KEY (`study_program_id`) REFERENCES `study_programs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ami_audits`
--

LOCK TABLES `ami_audits` WRITE;
/*!40000 ALTER TABLE `ami_audits` DISABLE KEYS */;
INSERT INTO `ami_audits` VALUES (1,1,2026,'2026-06-15','Dr. Maya Kartika, M.T.','Dr. Agus Pratama, S.Si.',0,2,3,'RTL Terbuka','Audit siklus reguler semester genap. Ketercapaian RPS dan publikasi sangat baik, perlu perbaikan kelengkapan berkas kontrak kerja sama.','2026-08-24 14:58:40'),(2,2,2026,'2026-06-18','Bambang Kusumo, Ph.D.','Dr. Maya Kartika, M.T.',1,3,2,'RTL Terbuka','Ditemukan 1 KTS Major terkait kesiapan berkas re-akreditasi LAM-INFOKOM dan kelengkapan portfolio evaluasi CPL lulusan.','2026-08-24 14:58:40');
/*!40000 ALTER TABLE `ami_audits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ami_findings`
--

DROP TABLE IF EXISTS `ami_findings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ami_findings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ami_audit_id` int(11) NOT NULL,
  `standard_id` int(11) DEFAULT NULL,
  `finding_type` enum('KTS Major','KTS Minor','OB') NOT NULL,
  `description` text NOT NULL,
  `root_cause` text DEFAULT NULL,
  `corrective_action` text DEFAULT NULL,
  `pic` varchar(150) NOT NULL,
  `deadline` date NOT NULL,
  `status` enum('Open','In Progress','Submitted','Closed') DEFAULT 'Open',
  `verification_notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `ami_audit_id` (`ami_audit_id`),
  KEY `standard_id` (`standard_id`),
  CONSTRAINT `ami_findings_ibfk_1` FOREIGN KEY (`ami_audit_id`) REFERENCES `ami_audits` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ami_findings_ibfk_2` FOREIGN KEY (`standard_id`) REFERENCES `spmi_standards` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ami_findings`
--

LOCK TABLES `ami_findings` WRITE;
/*!40000 ALTER TABLE `ami_findings` DISABLE KEYS */;
/*!40000 ALTER TABLE `ami_findings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_settings`
--

DROP TABLE IF EXISTS `app_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `category` varchar(50) DEFAULT 'general',
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_settings`
--

LOCK TABLES `app_settings` WRITE;
/*!40000 ALTER TABLE `app_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approvals`
--

DROP TABLE IF EXISTS `approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `module` enum('Kegiatan','Penelitian','PkM','Kerja Sama','Anggaran','Surat','RTL') NOT NULL,
  `record_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `requester_id` int(11) DEFAULT NULL,
  `requester_name` varchar(150) NOT NULL,
  `study_program_id` int(11) DEFAULT NULL,
  `submission_date` date NOT NULL,
  `status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `notes` text DEFAULT NULL,
  `approved_by` varchar(100) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approvals`
--

LOCK TABLES `approvals` WRITE;
/*!40000 ALTER TABLE `approvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `username` varchar(100) NOT NULL,
  `action` enum('CREATE','READ','UPDATE','DELETE','APPROVE','REJECT','EXPORT','DOWNLOAD','LOGIN','LOGOUT') NOT NULL,
  `module` varchar(100) NOT NULL,
  `record_id` varchar(50) DEFAULT NULL,
  `old_values` longtext DEFAULT NULL,
  `new_values` longtext DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `course_id` int(11) NOT NULL,
  `academic_year_id` int(11) NOT NULL,
  `lecturer_id` int(11) NOT NULL,
  `class_name` varchar(20) NOT NULL,
  `room` varchar(50) DEFAULT NULL,
  `total_planned_meetings` int(11) DEFAULT 16,
  `total_held_meetings` int(11) DEFAULT 0,
  `average_attendance` decimal(5,2) DEFAULT 0.00,
  `problem_flag` tinyint(1) DEFAULT 0,
  `problem_notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `course_id` (`course_id`),
  KEY `academic_year_id` (`academic_year_id`),
  KEY `lecturer_id` (`lecturer_id`),
  CONSTRAINT `classes_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `classes_ibfk_2` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `classes_ibfk_3` FOREIGN KEY (`lecturer_id`) REFERENCES `lecturers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
INSERT INTO `classes` VALUES (1,1,1,4,'TI-5A','Lab AI 301',16,12,94.50,0,NULL,'2026-08-24 14:58:40'),(2,2,1,2,'TI-4A','Ruang 204',16,12,96.00,0,NULL,'2026-08-24 14:58:40'),(3,3,1,7,'TI-2B','Lab RPL 102',16,11,91.20,0,NULL,'2026-08-24 14:58:40'),(4,4,1,8,'TI-6A','Lab Jaringan 201',16,6,68.00,1,'Realisasi pertemuan tertinggal 6 pekan & presensi rendah','2026-08-24 14:58:40'),(5,5,1,3,'SI-5A','Ruang 305',16,12,95.00,0,NULL,'2026-08-24 14:58:40'),(6,7,1,6,'DS-3A','Lab Big Data 401',16,12,93.80,0,NULL,'2026-08-24 14:58:40');
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cooperations`
--

DROP TABLE IF EXISTS `cooperations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cooperations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `partner_name` varchar(200) NOT NULL,
  `type` enum('MoU','MoA','IA') NOT NULL DEFAULT 'MoA',
  `level` enum('Internasional','Nasional','Lokal') DEFAULT 'Nasional',
  `scope` varchar(255) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `pic_internal` varchar(150) NOT NULL,
  `pic_partner` varchar(150) DEFAULT NULL,
  `document_file` varchar(255) DEFAULT NULL,
  `status` enum('Aktif','Akan Berakhir','Kadaluarsa') DEFAULT 'Aktif',
  `real_activities_count` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cooperations`
--

LOCK TABLES `cooperations` WRITE;
/*!40000 ALTER TABLE `cooperations` DISABLE KEYS */;
/*!40000 ALTER TABLE `cooperations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `courses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `study_program_id` int(11) NOT NULL,
  `code` varchar(20) NOT NULL,
  `name` varchar(150) NOT NULL,
  `sks` int(11) NOT NULL DEFAULT 3,
  `semester` int(11) NOT NULL DEFAULT 1,
  `kurikulum_year` varchar(10) DEFAULT '2024',
  `lecturer_id` int(11) DEFAULT NULL,
  `rps_status` enum('Lengkap','Belum Lengkap','Revisi') DEFAULT 'Lengkap',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `study_program_id` (`study_program_id`),
  CONSTRAINT `courses_ibfk_1` FOREIGN KEY (`study_program_id`) REFERENCES `study_programs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `critical_alerts`
--

DROP TABLE IF EXISTS `critical_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `critical_alerts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alert_type` enum('Dosen','Mahasiswa','Deadline','Dokumen','Akreditasi','RTL','SPMI') NOT NULL,
  `severity` enum('Critical','Warning','Attention','Info') NOT NULL DEFAULT 'Warning',
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `target_url` varchar(255) DEFAULT NULL,
  `record_id` int(11) DEFAULT NULL,
  `is_resolved` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `critical_alerts`
--

LOCK TABLES `critical_alerts` WRITE;
/*!40000 ALTER TABLE `critical_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `critical_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculties`
--

DROP TABLE IF EXISTS `faculties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faculties` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL,
  `name` varchar(150) NOT NULL,
  `dean_name` varchar(150) NOT NULL,
  `vision` text DEFAULT NULL,
  `mission` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculties`
--

LOCK TABLES `faculties` WRITE;
/*!40000 ALTER TABLE `faculties` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `files`
--

DROP TABLE IF EXISTS `files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `original_name` varchar(255) NOT NULL,
  `stored_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_type` varchar(50) DEFAULT NULL,
  `file_size` int(11) DEFAULT 0,
  `module` varchar(100) NOT NULL,
  `record_id` int(11) DEFAULT NULL,
  `uploaded_by` int(11) DEFAULT NULL,
  `version` int(11) DEFAULT 1,
  `status` varchar(50) DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `files`
--

LOCK TABLES `files` WRITE;
/*!40000 ALTER TABLE `files` DISABLE KEYS */;
/*!40000 ALTER TABLE `files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finances`
--

DROP TABLE IF EXISTS `finances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `finances` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_id` int(11) NOT NULL,
  `study_program_id` int(11) DEFAULT NULL,
  `fiscal_year` int(11) NOT NULL,
  `category` enum('RKA Operasional','RKA Pengembangan','Penelitian','PkM','Kemahasiswaan','Pendapatan') NOT NULL,
  `title` varchar(255) NOT NULL,
  `budgeted_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `realized_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `absorption_percentage` decimal(5,2) DEFAULT 0.00,
  `status` enum('Optimal','Cukup','Rendah','Overbudget') DEFAULT 'Optimal',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `faculty_id` (`faculty_id`),
  KEY `study_program_id` (`study_program_id`),
  CONSTRAINT `finances_ibfk_1` FOREIGN KEY (`faculty_id`) REFERENCES `faculties` (`id`) ON DELETE CASCADE,
  CONSTRAINT `finances_ibfk_2` FOREIGN KEY (`study_program_id`) REFERENCES `study_programs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finances`
--

LOCK TABLES `finances` WRITE;
/*!40000 ALTER TABLE `finances` DISABLE KEYS */;
/*!40000 ALTER TABLE `finances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guidances`
--

DROP TABLE IF EXISTS `guidances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guidances` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `lecturer_id` int(11) NOT NULL,
  `student_id` int(11) NOT NULL,
  `type` enum('DPA','Skripsi','Magang','MBKM') NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `progress_percentage` decimal(5,2) DEFAULT 0.00,
  `status` enum('Aktif','Selesai','Bermasalah','Terlambat') DEFAULT 'Aktif',
  `last_guidance_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `lecturer_id` (`lecturer_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `guidances_ibfk_1` FOREIGN KEY (`lecturer_id`) REFERENCES `lecturers` (`id`),
  CONSTRAINT `guidances_ibfk_2` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guidances`
--

LOCK TABLES `guidances` WRITE;
/*!40000 ALTER TABLE `guidances` DISABLE KEYS */;
/*!40000 ALTER TABLE `guidances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_evidences`
--

DROP TABLE IF EXISTS `indicator_evidences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `indicator_evidences` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `indicator_realization_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_type` varchar(50) DEFAULT NULL,
  `file_size` int(11) DEFAULT 0,
  `verified_status` enum('Pending','Verified','Rejected') DEFAULT 'Pending',
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `indicator_realization_id` (`indicator_realization_id`),
  CONSTRAINT `indicator_evidences_ibfk_1` FOREIGN KEY (`indicator_realization_id`) REFERENCES `indicator_realizations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_evidences`
--

LOCK TABLES `indicator_evidences` WRITE;
/*!40000 ALTER TABLE `indicator_evidences` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_evidences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_realizations`
--

DROP TABLE IF EXISTS `indicator_realizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `indicator_realizations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `indicator_target_id` int(11) NOT NULL,
  `realization_value` decimal(10,2) NOT NULL,
  `achievement_percentage` decimal(5,2) NOT NULL,
  `status` enum('Success','Attention','Warning','Critical') DEFAULT 'Success',
  `notes` text DEFAULT NULL,
  `verified_by` varchar(100) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `indicator_target_id` (`indicator_target_id`),
  CONSTRAINT `indicator_realizations_ibfk_1` FOREIGN KEY (`indicator_target_id`) REFERENCES `indicator_targets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_realizations`
--

LOCK TABLES `indicator_realizations` WRITE;
/*!40000 ALTER TABLE `indicator_realizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_realizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_targets`
--

DROP TABLE IF EXISTS `indicator_targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `indicator_targets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `indicator_id` int(11) NOT NULL,
  `faculty_id` int(11) DEFAULT NULL,
  `study_program_id` int(11) DEFAULT NULL,
  `year` int(11) NOT NULL,
  `period` varchar(30) DEFAULT 'Tahunan',
  `target_value` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `indicator_id` (`indicator_id`),
  KEY `faculty_id` (`faculty_id`),
  KEY `study_program_id` (`study_program_id`),
  CONSTRAINT `indicator_targets_ibfk_1` FOREIGN KEY (`indicator_id`) REFERENCES `indicators` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_targets_ibfk_2` FOREIGN KEY (`faculty_id`) REFERENCES `faculties` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_targets_ibfk_3` FOREIGN KEY (`study_program_id`) REFERENCES `study_programs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_targets`
--

LOCK TABLES `indicator_targets` WRITE;
/*!40000 ALTER TABLE `indicator_targets` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_targets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicators`
--

DROP TABLE IF EXISTS `indicators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `indicators` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(30) NOT NULL,
  `name` varchar(255) NOT NULL,
  `category` enum('IKU','Renstra','Fakultas','SPMI') NOT NULL DEFAULT 'IKU',
  `formula` text DEFAULT NULL,
  `unit` varchar(50) DEFAULT '%',
  `data_source` varchar(150) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicators`
--

LOCK TABLES `indicators` WRITE;
/*!40000 ALTER TABLE `indicators` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lecturers`
--

DROP TABLE IF EXISTS `lecturers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lecturers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `study_program_id` int(11) NOT NULL,
  `nidn` varchar(20) NOT NULL,
  `nip` varchar(30) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `gender` enum('L','P') DEFAULT 'L',
  `academic_rank` enum('Tenaga Pengajar','Asisten Ahli','Lektor','Lektor Kepala','Guru Besar') DEFAULT 'Lektor',
  `education_level` enum('S2','S3') DEFAULT 'S2',
  `certification_status` enum('Tersertifikasi','Belum Tersertifikasi') DEFAULT 'Tersertifikasi',
  `teaching_load_sks` decimal(4,2) DEFAULT 12.00,
  `bkd_status` enum('Memenuhi','Belum Memenuhi','Dalam Penilaian') DEFAULT 'Memenuhi',
  `sinta_score` decimal(8,2) DEFAULT 0.00,
  `scopus_h_index` int(11) DEFAULT 0,
  `publication_count` int(11) DEFAULT 0,
  `pkm_count` int(11) DEFAULT 0,
  `hki_count` int(11) DEFAULT 0,
  `books_count` int(11) DEFAULT 0,
  `attendance_percentage` decimal(5,2) DEFAULT 100.00,
  `status` enum('Aktif','Tugas Belajar','Cuti','Pensiun') DEFAULT 'Aktif',
  `phone` varchar(30) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nidn` (`nidn`),
  KEY `study_program_id` (`study_program_id`),
  CONSTRAINT `lecturers_ibfk_1` FOREIGN KEY (`study_program_id`) REFERENCES `study_programs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lecturers`
--

LOCK TABLES `lecturers` WRITE;
/*!40000 ALTER TABLE `lecturers` DISABLE KEYS */;
/*!40000 ALTER TABLE `lecturers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meeting_documents`
--

DROP TABLE IF EXISTS `meeting_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meeting_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_id` int(11) NOT NULL,
  `document_type` enum('Undangan','Daftar Hadir','Materi','Notulensi','Foto','Lainnya') NOT NULL,
  `file_title` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_size` int(11) DEFAULT 0,
  `uploaded_by` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `meeting_id` (`meeting_id`),
  CONSTRAINT `meeting_documents_ibfk_1` FOREIGN KEY (`meeting_id`) REFERENCES `meetings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meeting_documents`
--

LOCK TABLES `meeting_documents` WRITE;
/*!40000 ALTER TABLE `meeting_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `meeting_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meeting_participants`
--

DROP TABLE IF EXISTS `meeting_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meeting_participants` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_id` int(11) NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `role_in_meeting` varchar(50) DEFAULT 'Peserta',
  `attendance_status` enum('Hadir','Izin','Sakit','Alpa') DEFAULT 'Hadir',
  `signed_at` datetime DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `meeting_id` (`meeting_id`),
  CONSTRAINT `meeting_participants_ibfk_1` FOREIGN KEY (`meeting_id`) REFERENCES `meetings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meeting_participants`
--

LOCK TABLES `meeting_participants` WRITE;
/*!40000 ALTER TABLE `meeting_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `meeting_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meetings`
--

DROP TABLE IF EXISTS `meetings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meetings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_number` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `type` enum('Rapat Kaprodi','Rapat Dosen Prodi','Rapat Gabungan','Rapat Pimpinan','Rapat Senat') NOT NULL,
  `meeting_date` date NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time DEFAULT NULL,
  `location` varchar(150) NOT NULL,
  `chairperson_id` int(11) DEFAULT NULL,
  `secretary_id` int(11) DEFAULT NULL,
  `agenda` text NOT NULL,
  `status` enum('Terjadwal','Sedang Berlangsung','Selesai','Dibatalkan') DEFAULT 'Terjadwal',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `meeting_number` (`meeting_number`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meetings`
--

LOCK TABLES `meetings` WRITE;
/*!40000 ALTER TABLE `meetings` DISABLE KEYS */;
/*!40000 ALTER TABLE `meetings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `type` enum('alert','reminder','approval','deadline','rtl','system') DEFAULT 'alert',
  `target_url` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `module` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `renstra_programs`
--

DROP TABLE IF EXISTS `renstra_programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `renstra_programs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_id` int(11) NOT NULL,
  `strategic_objective` varchar(255) NOT NULL,
  `program_name` varchar(255) NOT NULL,
  `pic` varchar(150) NOT NULL,
  `budget` decimal(15,2) DEFAULT 0.00,
  `start_year` int(11) NOT NULL,
  `end_year` int(11) NOT NULL,
  `progress_percentage` decimal(5,2) DEFAULT 0.00,
  `status` enum('Belum Mulai','Berjalan','Tercapai','Tertunda') DEFAULT 'Berjalan',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `faculty_id` (`faculty_id`),
  CONSTRAINT `renstra_programs_ibfk_1` FOREIGN KEY (`faculty_id`) REFERENCES `faculties` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `renstra_programs`
--

LOCK TABLES `renstra_programs` WRITE;
/*!40000 ALTER TABLE `renstra_programs` DISABLE KEYS */;
/*!40000 ALTER TABLE `renstra_programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `permission_id` (`permission_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
INSERT INTO `role_permissions` VALUES (1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(1,7),(1,8),(1,9),(1,10),(1,11),(1,12),(1,13),(1,14),(1,15),(1,16),(2,1),(2,2),(2,3),(2,4),(2,5),(2,6),(2,7),(2,8),(2,9),(2,10),(2,11),(2,12),(2,13),(2,14),(2,15),(2,16),(3,1),(3,2),(3,5),(3,6),(3,7),(3,8),(3,9),(3,10),(3,13),(3,14),(4,1),(4,5),(4,6),(4,13),(5,1),(5,8),(5,9),(5,13),(5,14),(6,1),(6,4),(6,5),(6,6),(6,7),(6,11),(6,12),(6,13),(6,14);
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `slug` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spmi_standards`
--

DROP TABLE IF EXISTS `spmi_standards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spmi_standards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category` enum('Pendidikan','Penelitian','Pengabdian','Tata Kelola','Kemahasiswaan','SDM') NOT NULL,
  `code` varchar(30) NOT NULL,
  `name` varchar(255) NOT NULL,
  `target_metric` varchar(100) NOT NULL,
  `current_metric` varchar(100) NOT NULL,
  `status` enum('Tercapai','Proses','Belum Tercapai') DEFAULT 'Proses',
  `ppepp_stage` enum('Penetapan','Pelaksanaan','Evaluasi','Pengendalian','Peningkatan') DEFAULT 'Pelaksanaan',
  `pic` varchar(100) NOT NULL,
  `period_year` int(11) NOT NULL DEFAULT 2026,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spmi_standards`
--

LOCK TABLES `spmi_standards` WRITE;
/*!40000 ALTER TABLE `spmi_standards` DISABLE KEYS */;
/*!40000 ALTER TABLE `spmi_standards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `study_program_id` int(11) NOT NULL,
  `nim` varchar(30) NOT NULL,
  `name` varchar(150) NOT NULL,
  `batch_year` int(11) NOT NULL,
  `semester` int(11) NOT NULL DEFAULT 1,
  `current_gpa` decimal(3,2) DEFAULT 3.00,
  `credits_earned` int(11) DEFAULT 0,
  `attendance_percentage` decimal(5,2) DEFAULT 100.00,
  `status` enum('Aktif','Cuti','Non-Aktif','Lulus','Drop Out') DEFAULT 'Aktif',
  `risk_status` enum('Normal','Warning','Critical') DEFAULT 'Normal',
  `risk_reason` varchar(255) DEFAULT NULL,
  `scholarship` varchar(100) DEFAULT NULL,
  `organization` varchar(150) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nim` (`nim`),
  KEY `study_program_id` (`study_program_id`),
  CONSTRAINT `students_ibfk_1` FOREIGN KEY (`study_program_id`) REFERENCES `study_programs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `study_programs`
--

DROP TABLE IF EXISTS `study_programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `study_programs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_id` int(11) NOT NULL,
  `code` varchar(20) NOT NULL,
  `name` varchar(150) NOT NULL,
  `degree` enum('D3','D4','S1','S2','S3') DEFAULT 'S1',
  `head_name` varchar(150) DEFAULT NULL,
  `head_user_id` int(11) DEFAULT NULL,
  `accreditation_status` varchar(50) DEFAULT 'Baik Sekali',
  `accreditation_score` decimal(5,2) DEFAULT 0.00,
  `accreditation_expire` date DEFAULT NULL,
  `student_count` int(11) DEFAULT 0,
  `lecturer_count` int(11) DEFAULT 0,
  `target_retention` decimal(5,2) DEFAULT 85.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `faculty_id` (`faculty_id`),
  CONSTRAINT `study_programs_ibfk_1` FOREIGN KEY (`faculty_id`) REFERENCES `faculties` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `study_programs`
--

LOCK TABLES `study_programs` WRITE;
/*!40000 ALTER TABLE `study_programs` DISABLE KEYS */;
INSERT INTO `study_programs` VALUES (1,1,'BD','Bisnis Digital','S1','Suryo Hadi Kusumo',3,'Baik',0.00,'2028-10-15',20,5,90.00,'2026-08-24 14:58:40'),(2,1,'SI','Sistem Informasi','S1','Rusina Widha Febriana',4,'Baik',287.00,'2026-11-20',40,5,88.00,'2026-08-24 14:58:40'),(3,1,'RPL','Rekayasa Perangkat Lunak','S1','Purwanto',NULL,'Baik',277.00,'2027-05-30',20,5,85.00,'2026-08-24 14:58:40'),(6,1,'KWU','Kewirausahaan','S1','Elis Anita Farida',NULL,'Baik',200.00,NULL,20,5,85.00,'2026-08-24 15:49:22');
/*!40000 ALTER TABLE `study_programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surveys`
--

DROP TABLE IF EXISTS `surveys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surveys` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category` enum('Mahasiswa','Dosen','Tendik','Alumni','Pengguna Lulusan') NOT NULL,
  `period_year` int(11) NOT NULL,
  `respondents_count` int(11) DEFAULT 0,
  `average_score` decimal(3,2) DEFAULT 0.00,
  `satisfaction_percentage` decimal(5,2) DEFAULT 0.00,
  `status` enum('Sangat Baik','Baik','Cukup','Kurang') DEFAULT 'Baik',
  `summary` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surveys`
--

LOCK TABLES `surveys` WRITE;
/*!40000 ALTER TABLE `surveys` DISABLE KEYS */;
/*!40000 ALTER TABLE `surveys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `nidn` varchar(20) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive','suspended') DEFAULT 'active',
  `last_login_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-24 23:18:33
